{
  "presets": ["next/babel"],
  "plugins": [["prismjs", {
    "languages": [
      "javascript",
      "typescript",
      "html",
      "jsx",
      "css",
      "markup",
      "python",
      "java",
      "php",
      "rust",
      "cpp",
      "swift",
      "json"
    ],
    "css": true
  }]]
}