.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--emphasis);

  height: 48px;
  width: 100%;
}

.highlighted {
  background: var(--emphasis);
}

.highlighted p {
  color: var(--background) !important;
}

.highlighted:hover {
  background: var(--gray);
  border: 1px solid var(--gray);
}

.disabled p {
  color: var(--gray2) !important;
}