.container {
  display: flex;
  flex-direction: column;

  border-top: 1px var(--white) solid;

  padding-top: 8px;

  width: 100%;
}

.noLine {
  border-top: none !important;
}

.container p {
  text-transform: uppercase;
}