.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 0px 0px; */
  gap: 20px;

  height: auto;

  /* width: 25px; */
  /* height: 1020px; */
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.linksContainer > a {
  transform: rotate(90deg);
}

.linksContainer > a:hover {
  /* color: var(--selected); */
  background-color: var(--selected);
}

.ellipse {
  width: 4px;
  height: 4px;
  background: var(--dark-gray);
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.divider {
  width: 25px;
  border: 1px solid var(--dark-gray);
}