.container {
  width: 100vw;
  height: 100vh;

  background-color: var(--ufh-background);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 32px;

  position: relative;
}

/* Override all heading elements */
.container h1 {
  color: var(--ufh-emphasis);
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.container p {
  color: var(--ufh-emphasis);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  flex: 1 0 0;
}

.externalLinks {
  display: flex;
  flex-direction: 16px;
}

.imageContainer {
  position: relative;
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}