.container {
  width: 100vw;
  height: 66vh;
  min-height: 720px;

  background-color: var(--background);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 32px;

  position: relative;

  gap: 16px;
}

.container p {
  color: var(--emphasis) !important;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;

  flex: 1 0 0;

  max-width: 572px;

}

.externalLinks {
  display: flex;
  flex-direction: 16px;

  gap: 16px;

  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;

  max-width: 572px;

  overflow: hidden;
}

.imagePlaceholder {
  filter: blur(32px);
  transform: scale(1.5);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image {
  object-fit: cover;
}

/* Vertical container styling */

.verticalContainer {
  background-color: var(--background);

  display: flex;
  position: relative;

  gap: 16px;
  flex-direction: column-reverse;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 64px;

  justify-content: flex-start;
  align-items: flex-start;

  gap: 16px;

  min-height: 1000px;
}

.verticalContainer h1 {
  font-size: 32px !important;
  line-height: 40px !important;
}

.verticalContainer .text {
  max-width: unset;
}

.verticalContainer .imageContainer {
  width: 100%;
  height: auto;
  flex: unset;

  max-width: unset;
}

@media only screen and (max-width: 880px) {
  .verticalContainer {
    width: 100vw;
  }

  .container {
    flex-direction: column-reverse;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 64px;

    justify-content: flex-start;
    align-items: flex-start;

    gap: 16px;

    min-height: 1000px;
  }

  .container h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .text {
    max-width: unset;
  }

  .imageContainer {
    width: 100%;
    height: auto;
    flex: unset;

    max-width: unset;
  }
}
