.focus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background-color: var(--background);

  width: 100vw;
  min-height: 100vh;

  padding-right: 32px;
  padding-left: 32px;
  gap: 64px;

  justify-content: space-between;
}

.focusContent {
  position: sticky;
  top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  max-width: 572px;
  min-height: 100vh;
  flex: 1 0 0;
  
  gap: 32px;

  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timeline */
  /* Currently only supported on Chrome */
  animation: linear fadein both;
  animation-range: entry 25% cover 50%;
  view-timeline-name: --subjectReveal;
  animation-timeline: --subjectReveal;
}

@keyframes fadein {
  0% {
    opacity: 20%;
  } 100% {
    opacity: 100%;
  }
}

.gallery {
  flex: 1 0 0;

  display: flex;
  flex-direction: column;

  max-width: 572px;

  padding-top: 32px;
}

.imageContainer {
  position: relative;
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;

  max-width: 572px;

  overflow: hidden;
}

.image {
  object-fit: cover;
}

@media only screen and (max-width: 880px) {
  .focus {
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center !important;

    flex: 1;

    gap: 16px;
  }

  .focusContent {
    max-width: unset;
    min-height: unset;

    padding-top: 128px;
  }

  .gallery {
    width: 100%;
    height: auto;
    flex: unset;
    max-width: unset;

    padding-top: 32px !important;
    padding-bottom: 0px !important;
  }

  .imageContainer {
    max-width: unset;
  }
}