.hero {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--background) !important;
}

.heroContainer {
  width: 100%;
  height: 100%;

  padding: 16px;

  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  z-index: 1;

  background-color: rgba(0, 0, 0, 0.8);
}

.heroImage {
  width: 100%;
  object-fit: cover;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 960px;

  gap: 32px;

  padding-bottom: 32px;

  z-index: 1;
}