.container {
  min-height: 100vh;
}

.horizontalContentWrapper article span {
  color: var(--gray3);
}

.calloutInformationWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.callout {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 32px;

  width: 100%;
}

.tagsDateWrapper {
  display: flex;
  flex-direction: row;

  gap: 16px;
}

.fillSpace {
  flex: 1;
}

.linksWrapper {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px !important;
}

.horizontalContentWrapper {
  display: flex;
  flex-direction: column;

  gap: 8px;

  flex: 1;
}

.slimImageContainer {
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;

  flex: 1.6;
}

.wideImageContainer {
  height: 100%;
  aspect-ratio: 3/2;
  position: relative;

  flex: 1.6;
}

.horizontalCalloutWrapper {
  display: flex;
  width: 100%;
}

.verticalCalloutWrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .tagsDateWrapper {
    flex-direction: column;
  
    gap: 16px;
  }
}

@media only screen and (max-width: 720px) {
  .verticalCalloutWrapper {
    display: flex;
    width: 100%;
  }

  .horizontalCalloutWrapper {
    display: none;
  }

  .horizontalWrapper {
    flex-direction: column;
  }
}


.wideHeader h1 {
  font-size: 40px;
  font-weight: 600;
}

.wideContainer {
  width: 100%;
  /* min-height: 62.5vh; */
  display: flex;
  flex-direction: row;
  gap: 16px;

  padding-top: 80px;

  background-color: var(--gray);
}

.wideTextContainer {
  padding: 16px;
}

.wideDescriptionContainer {
  height: 100vh - 62.5vh;

  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -36px;

  background-color: var(--emphasis);
}

.wideCallout {
  background-color: transparent;
}