.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
}

.dropdownButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownButton path {
  fill: var(--white);
}

.divider {
  width: 100%;
  height: 0px;
  border: 1px solid var(--dark-gray);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;

  width: 100%;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    gap: 48px;
  }
}