.container {
  min-height: 100vh;
}

.horizontalContentWrapper article span {
  color: var(--gray3);
}

.calloutInformationWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.callout {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 32px;

  width: 100%;
}

.tagsDateWrapper {
  display: flex;
  flex-direction: row;

  gap: 16px;
}

.fillSpace {
  flex: 1;
}

.linksWrapper {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px !important;
}

.horizontalContentWrapper {
  display: flex;
  flex-direction: column;

  gap: 8px;

  flex: 1;
}

.slimImageContainer {
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;

  flex: 1.6;
}

.wideImageContainer {
  position: relative;

  flex: 1.6;
}

.horizontalCalloutWrapper {
  display: flex;
  width: 100%;
}

.verticalCalloutWrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .tagsDateWrapper {
    flex-direction: column;
  
    gap: 16px;
  }
}

@media only screen and (max-width: 720px) {
  .verticalCalloutWrapper {
    display: flex;
    width: 100%;
  }

  .horizontalCalloutWrapper {
    display: none;
  }

  .horizontalWrapper {
    flex-direction: column;
  }
}


.wideHeader h1 {
  font-size: 40px;
  font-weight: 600;
}

.wideContainer {
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: row;
  gap: 16px;

  padding-top: 56px;

  background-color: var(--gray);
}

.wideTextContainer {
  padding-top: 24px;
  flex: 1;
  max-width: 480px;
}

@media only screen and (max-width: 1000px) {
  .wideContainer {
    flex-direction: column;
    max-height: initial;
  }

  .wideImageContainer {
    width: 100%;
    height: 480px;

    flex: initial;
  }
}

@media only screen and (min-width: 1001px) {
  .wideImageContainer {
    aspect-ratio: initial !important;
  }
}

.wideDescriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  
  padding: 48px;
  margin-top: -36px;

  background-color: var(--emphasis);
}

.wideDescriptionContainer h3 {
  color: var(--background);
  text-align: center;
}

.wideCallout {
  background-color: transparent;
}

.miniInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.miniInfoWrapperMobile {
  display: none;
}

.miniInfoWrapperDesktop {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.miniInfoWrapperDesktop p {
  text-align: center;
  color: var(--gray3);
}

.miniLinksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

@media only screen and (max-width: 600px) {
  .miniInfoWrapperDesktop {
    display: none !important;
  }

  .miniInfoWrapperMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .miniInfoWrapperMobile p {
    text-align: center;
    color: var(--gray3);
  }
}