.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  background: var(--gray);
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 16px;
    align-items: flex-start;
  }
}