.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 32px 0px;
  width: 100%;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--gray2)
}

.container p {
  color: var(--gray3)
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 16px;
    align-items: flex-start;
  }
}