.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.image {
  box-sizing: border-box;
  width: 355px;
  height: 187px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  color: var(--gray3);
}