html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--black);
}

a {
  color: var(--dark-gray);
  fill: var(--dark-gray);
  text-decoration: none;
}

a:hover {
  color: var(--selected);
  fill: var(--selected);
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

main {
  padding: 10px;
  width: 35em;
  animation-name: fadein;
  animation-duration: 0.3s;
}

/* Perform a reset on the button component */
button {
  box-sizing: unset;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: 'Inter';
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

:root {
  --black: #333333;
  --dark-gray: #7B7B7B;
  --medium-gray: #BCBCBC;
  --light-gray: #EFEFEF;
  --white: #FAFAFA;
  --selected: #E67B75;
  --darker-gray: #3D3D3D;
}

h1 {
  font-weight: 300;
  color: var(--white);
}

h2 {
  font-weight: 300;
  color: var(--white);
  font-size: 21px;
}

/* Unless overridden */
p {
  color: var(--white);
}