html,
body {
  padding: 0;
  margin: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  letter-spacing: 0.01em;
  background-color: var(--background);
  font-weight: 300;

  min-height: 100vh;
}

html {
  overflow: auto;
}

a {
  color: var(--emphasis);
  fill: var(--emphasis);
  text-decoration: none;
}

a:hover {
  /* color: var(--selected);
  fill: var(--selected);
  transition: 0.3s; */
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 100%;
  overflow-wrap: break-word;

  padding-bottom: 32px;

  animation-name: fadein;
  animation-duration: 500ms;
}

/* Perform a reset on the button component */
button {
  box-sizing: unset;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: neue-haas-grotesk-display, sans-serif;

  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  } 10% {
    opacity: 0%;
  } 100% {
    opacity: 100%;
  }
}

:root {
  /* --black: #242424;
  --dark-gray: #7B7B7B;
  --medium-gray: #BCBCBC;
  --light-gray: #EFEFEF;
  --white: #FAFAFA;
  --selected: #E67B75;
  --darker-gray: #3D3D3D; */

  --background: #121212;
  --background-translucent: rgba(0, 0, 0, 0.9);
  --gray: #dddddd;
  --gray2: #999999;
  --gray3: #666666;
  --gray4: #2E2E2E;
  --emphasis: #efefef;
  --white: #efefef;
  --cyan: #438893;
  --blue: #7A78BF;
  --red: #DB4D3D;

  --ufh-background: #121212;
  --ufh-emphasis: #efefef;

  --outer-guide-width: 72em;
  --inner-guide-width: 48em;
}

/* Override all heading elements */
h1 {
  color: var(--emphasis);
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  padding: 0px;
  margin: 0px;
}

h2 {
  color: var(--emphasis);
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

/* Unless overridden */
p {
  color: var(--emphasis);
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

li {
  list-style-position: outside;
  color: var(--emphasis);
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

ol {
  color: var(--emphasis);
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

input, textarea {
  font-family: neue-haas-grotesk-display, sans-serif;
  background: none;
  font-size: 20px;
}

label {
  font-size: 16px;
}

code {
  font-family: space-mono, monospace;
  font-weight: 400;
}

@media only screen and (max-width: 720px) {
  .collapseOnMobile {
    flex-direction: column !important;
    /* Reset the gap */
    gap: 0px !important;
  }
}
