html,
body {
  padding: 0;
  margin: 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  letter-spacing: 0.01em;
  background-color: var(--background);
  font-weight: 300;
  overflow: hidden;
}

a {
  color: var(--emphasis);
  fill: var(--emphasis);
  text-decoration: none;
}

a:hover {
  /* color: var(--selected);
  fill: var(--selected);
  transition: 0.3s; */
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  padding: 20px 0px 0px;
  gap: 30px;
  overflow-y: scroll;
  width: 100%;
}

/* Perform a reset on the button component */
button {
  box-sizing: unset;
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: none;
  font-family: neue-haas-grotesk-display, sans-serif;

  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

:root {
  /* --black: #242424;
  --dark-gray: #7B7B7B;
  --medium-gray: #BCBCBC;
  --light-gray: #EFEFEF;
  --white: #FAFAFA;
  --selected: #E67B75;
  --darker-gray: #3D3D3D; */

  --background: #E6E6E6;
  --emphasis: #121212;
  --cyan: #59ABB2;
  --blue: #7978BF;
  --red: #E14B36;
  --gray: #DCDCDC;
}

h1 {
  font-weight: 400;
  color: var(--emphasis);
  padding: 0px;
  margin: 0px;
}

h2 {
  font-weight: 400;
  color: var(--emphasis);
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-weight: 400;
  color: var(--emphasis);
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

/* Unless overridden */
p {
  color: var(--emphasis);
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

li {
  color: var(--emphasis);
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

ol {
  color: var(--emphasis);
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}