.container {
  z-index: 999;

  display: none;
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--background-translucent);
}

.containerVisible {
  display: flex;
  
  animation-name: fadein;
  animation-duration: 300ms;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  } 100% {
    opacity: 100%;
  }
}

.closeTabBar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  height: 80px;
  padding: 0px 15px;

  z-index: 1001;
}

.closeButtonWrapper {
  height: 40px;
  width: 40px;

  background-color: var(--background);
  border-color: var(--emphasis);
  border-width: 1px;
  border-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButtonWrapper:hover {
  cursor: pointer;
}

.imageFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  height: 100vh;
  max-width: 80em;
  width: 100vw;
  position: relative;
  z-index: 1000;
}

/* .image {
  width: 50px;
} */