.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.tabLine {
  display: flex;
  width: 100%;
  background-color: var(--emphasis);
  height: 4px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 3.5em;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.line {
  position: relative;
  top: 0px;
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: var(--emphasis);
  height: 1px;
}

.container svg {
  fill: var(--white);
}

.container > h2 {
  margin: 0px;
}

/* .navBarButton {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
@media only screen and (min-width: 601px) {
  .container {
    display: none;
  }
} */