/* Container that hosts all content, including
background and actual content */
.container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.containerDisplay {
  display: flex;
  opacity: 100%;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0%;
}

.backgroundDisplay {
  display: flex;
  opacity: 50%;
}

.fadeIn {
  animation-name: fadein;
  animation-duration: 0.3s;
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 50%;
  }
}

@keyframes fadeout {
  from {
    opacity: 50%;
  }
  to {
    opacity: 0%;
  }
}

.navigationPane {
  height: 100vh;
  width: 15em;
  z-index: 999;
  background-color: var(--black);
}
