.tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  z-index: 1;
}

.tabLine {
  display: none;
  width: 100%;
  background-color: transparent;
  height: 4px;
}

.tabLineSelected {
  background-color: var(--emphasis);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;
  height: 3.5em;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.projectContainer:hover {
  cursor: pointer;
}

.line {
  position: relative;
  top: -1px;
  left: 0%;
  right: 0%;
  background-color: var(--emphasis);
  height: 1px;
  display: none;
}

.container svg {
  fill: var(--emphasis);
}

.container > h2 {
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .tabLineMobile {
    display: flex;
  }

  .lineMobile {
    display: flex;
  }
}

@media only screen and (min-width: 601px) {
  .tabLineDesktop {
    display: flex;
  }

  .lineDesktop {
    display: flex;
  }
}