/* Container that hosts all content, including
background and actual content */
.container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.containerDisplay {
  display: flex;
  opacity: 100%;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0%;
}

.backgroundDisplay {
  display: flex;
  opacity: 100%;
}

.fadeIn {
  animation-name: fadein;
  animation-duration: 0.3s;
}

.fadeOut {
  animation-name: fadeout;
  animation-duration: 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.navigationPane {
  position: fixed;
  top: 0px;
  left: -15em;
  height: 100%;
  width: 15em;
  z-index: 999;
  background-color: var(--black);
}

.navigationPaneToggled {
  left: 0em;
  animation-name: slidein;
  animation-duration: 0.3s;
}

@keyframes slidein {
  from {
    left: -15em;
  }
  to {
    left: 0em;
  }
}

.navigationPaneContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 50px 11px;
  gap: 20px;
}

.navigationPaneButtonContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.navigationPaneButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
}

.navigationPaneButtonTextHighlighted {
  font-weight: bold;
  color: var(--selected);
}