.container {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--emphasis);
}

.imageContainer {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  height: calc(100vw / 2);
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.imageContainer:hover {
  cursor: pointer;
}

.image {
  background-repeat: no-repeat;
  transition: 0.1s;
}

.bulletedListContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bulletedListIndentContainer {
  margin-left: 0px;
}

.container h1 {
  margin-top: 1.0em;
  margin-bottom: 0.15em;
  font-weight: 600;
}

.container h2 {
  margin-top: 0.8em;
  margin-bottom: 0.15em;
  font-weight: 600;
}

.container h3 {
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.15em;
}

.container pre {
  padding: 24px 16px;
  background-color: var(--gray);
}

.container p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 30px;
}

.container li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container ::marker {
  font-size: 1.2em;
}

/* Used for the callout */
.container aside {
  border-width: 1px;
  border-color: var(--emphasis);
  border-style: solid;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
}

.container blockquote {
  /* box-sizing: border-box; */
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-left: 4px solid var(--emphasis);

  margin-top: 5px;
  margin-bottom: 5px;
}

.calloutIconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0px 20px 20px;
}

/* Used for callouts and quotes. */
.titleChildrenContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.calloutTitleChildrenContainer {
  padding: 20px 15px;
}

.quoteTitleChildrenContainer {
  padding: 10px 15px;
}

.tocContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tocLine {
  display: flex;
  flex-direction: row;
}

.tocLine p {
  color: var(--gray3);
  padding: 0px;
  margin: 0px;
}

.tocSpacer {
  height: 100%;
}

/* .videoContainer {
  width: 100%;
  height: 25em;
  position: relative;
} */