.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.backButton svg { 
  stroke: var(--emphasis);
}

.backButton:hover {
  cursor: pointer;
}
