.rootContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100vw;
  padding: 20px 0px;
}

@media only screen and (max-width: 600px) {
  .rootContainer {
    padding: 0px 0px 57px 0px;
  }
}

.scrollable {
  flex: 1;
  overflow-y: scroll;
  padding: 15px;
  animation-name: fadein;
  animation-duration: 500ms;
}

.scrollableFade {
  animation-name: fadeout;
  animation-duration: 500ms;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  } 30% {
    opacity: 0%;
  } 100% {
    opacity: 100%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  } 70% {
    opacity: 0%;
  } 100% {
    opacity: 0%;
  }
}
