.rootContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;

  min-height: 100vh;
}

.scrollable {
  flex: 1;
  /* overflow-y: scroll; */
  padding: 15px;
  animation-name: fadein;
  animation-duration: 500ms;
  overflow-wrap: break-word;
}

.scrollableFade {
  animation-name: fadeout;
  animation-duration: 500ms;
}

/* Apply to items on a page that need to
stretch until a maximum width. */
.itemWrapper {
  padding: 0px 32px;
  /* min-width: 20em; */
  max-width: 64em;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Apply to items on a page that adhere to
the "wide" alignment guide.*/
.wideWrapper {
  padding: 0px 32px;
}

/* Apply to items on a page that need to stretch
to the bottom of the page. */
.stretchToEnd {
  flex: 1;
}

/* Use to wrap a full-width image on a page */
.fullWidthImageWrapper {
  width: 100vw;
  min-height: calc(100vw / 4);
  position: relative;
}

.spacer {
  height: 40px;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recaptchaBox {
  height: 80px;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  } 30% {
    opacity: 0%;
  } 100% {
    opacity: 100%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  } 70% {
    opacity: 0%;
  } 100% {
    opacity: 0%;
  }
}
